@using EMarket.Core.Application.ViewModel.Category
@model SaveCategoryViewModel

@{
    ViewData["Title"] = "Delete Category";
}

<form asp-action="Delete" asp-controller="Category" class="row d-flex justify-content-center">
    <div class="col-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-danger">Are you sure want to delete @Model.Name?</h2>
                    <input type="hidden" asp-for="Id" />
                                            <div class="row h-auto mb-3 mt-2">
                            <div class="col-12 d-flex justify-content-end">
             <button type="submit" class="btn btn-danger btn-lg">Delete</button>
             <a asp-action="Index" asp-controller="Category" class="btn btn-custom">Cancel</a>
                            </div>
                        </div>

            </div>
        </div>
    </div>
</form>
