@using EMarket.Core.Application.ViewModel.Category
@model SaveCategoryViewModel

@{
    bool editMode = Model.Id==0?false:true;
    ViewData["Title"] = editMode?"Edit Category":"Create Category";
}

<div class="container-fluid">
    
    <div class="row d-flex justify-content-space-around">
       <div class="col-5 offset-4">
           <div class="card card-border border-custom">
               <div class="card-body">
                   <h2 class="card-title">@(@editMode?"Edit Category":"Create Category")</h2> 
                        <form method="post" asp-controller="Category" asp-action=@(editMode?"Edit":"Create") enctype="multipart/form-data">
                        <div class="row h-auto mb-3 mt-2">
                            <div class="col-6">
                            <label asp-for="Name" class="form-label">Name: </label>
                           <input asp-for="Name" class="form-control"/>
                           <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            
                            <div class="col-6 mb-4">
                            <label asp-for="Description" class="form-label">Description:</label>
                           <input asp-for="Description" class="form-control h-75 fs-5"/>
                           <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row h-auto mb-3 mt-2">
                            <input type="hidden" asp-for="Id"/>
                            <div class="col-12 d-flex justify-content-end">
                                <button type="submit" class="btn btn-custom btn-lg">@(editMode?"Edit":"Create")</button>
                                <a asp-action="Index" asp-controller="Category" class="btn btn-danger">Cancel</a>
                            </div>
                        </div>
                   </form>
               </div>
           </div>
       </div>
   </div>
</div>

